<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CSE Motors</title>
<link rel="icon" href="public\images\site\favicon-32x32.png">
<meta name="description"
    content="Welcome to CSE Motors!! Enjoy our website">
<meta name="author" content="Ivan Ponce">
<meta property="og:title" content="CSE Motors">
<meta property="og:type" content="website">
<meta property="og:image" content="public\images\site\favicon-32x32.png">
<meta property="og:url" content="">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="/css/styles.css" media="screen">