<link rel="stylesheet" href="/css/styles.css">

<header>
    <div class="logo">
      <h1>CSE Motors</h1>
      <li><a href="/account/login" title="Click to login or manage your account">My Account</a></li>
    </div>
    <nav>
      <%- nav %>
    </nav>
  </header>