<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/inventory.css" />
</head>

<body>
  <header>
    <%- nav %>
  </header>
  <main>
    <%- vehicleHTML %>
  </main>
</body>
</html>
